{% extends "bigArt/base.html" %}
{% load static %}

{% block content %}

<style>
  body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f5f5f5;
      font-size: 16px;
  }

 

  main {
      padding: 50px 0;
  }

  #about-us {
      max-width: 1000px;
      margin: 0 auto;
      margin-top: 5em;
  }

  h1, h2 {
      margin-bottom: 20px;
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 1em;
      text-align: center;
      color: #f4b400;
  }

  p {
      line-height: 1.5;
      margin-bottom: 20px;
      font-size: 1.3em;
  }

  .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 40px;
  }

  .card {
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      padding: 20px;
      margin: 10px;
      width: calc(33% - 20px);
  }

  .media {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 40px;
  }

  .media img, .media video {
      width: 50%;
      margin: 0 10px;
  }

  ul {
      list-style: none;
      padding: 0;
      margin-bottom: 40px;
  }

  li {
      margin-bottom: 10px;
  }

  .content1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 40px;
  }

  .content1 img {
      margin-right: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .content1 p {
      flex: 1;
      margin: 0;
  }




main {
    padding: 50px 0;
    margin-top: 5em;
}

#about-us {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 5em;
}

{% comment %} h1, h2 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 1em;
    text-align: center;
} {% endcomment %}

p {
    line-height: 1.6;
    margin-bottom: 20px;
    font-size: 1.3em;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-left: 5px; /* Add left margin */
    margin-right: 5px; /* Add right margin */
}

.card {
    background-color: #fffde7;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin: 10px; /* Adjust margin to create space between cards */
    width: calc(50% - 20px); /* Set the width of the card and consider margin */
    max-width: 1000px; /* Limit the maximum width of the card */
}

.card p{
    font-size: 18px;
}



.media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.media img, .media video {
    width: 45%;
    margin: 0 10px;
    border-radius: 15px;
}

.media video{
    height: 400px;
}

ul {
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
}

li {
    margin-bottom: 10px;
}

.content1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.content1 img {
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.content1 p {
    flex: 1;
    margin: 0;
    background-color: #fff9c4;
    padding: 20px;
}

/* Add styles for carousel */
.carousel {
    margin-bottom: 40px;
}

.carousel img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Add styles for testimonials */
.testimonial {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

/* Add styles for key features */
.key-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.key-feature {
    width: calc(50% - 10px);
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.key-feature h3 {
    margin-top: 0;
}

/* Add styles for call-to-action */
.cta {
    text-align: center;
    margin-bottom: 40px;
}

.cta a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

/* Add styles for social proof */
.social-proof {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.social-proof img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.social-proof p {
    flex: 1;
    margin-left: 20px;
}

/* Add styles for carousel description */
.carousel .content1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel img {
    flex: 1;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.carousel .description {
    flex: 2;
    
}


.card1 {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    height: 100%;
    background-color: #fffde7;
}

.card-img-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    flex: 1;
    width: 100%;
    height: auto;
}

.card-title {
    color: #333;
    font-size: 1.5rem;
    margin-top: 20px;
}

.card-text {
    color: #666;
}

.card-body {
    padding: 20px;
    flex: 1;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.container1 {
    padding: 20px;
    display: flex;
    gap: 20px;
}

.card2 {
    background-color: #fff9c4;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    
}

#more {display: none;}

button#myBtn {
    background-color: #f4b400;
    color: black; /* Adjust the text color to contrast with the yellow background */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    width: 150px;
}

/* Optional: Add a hover effect for the button */
button#myBtn:hover {
    background-color: darkorange; /* Change the background color on hover */
    color: white;}

/* Media query to make cards stack horizontally on smaller screens */
@media (min-width: 768px) {
    .row {
        display: flex;
    }
    .col-md-4 {
        flex: 1;
    }
}



.form-label {
    color: white;
}
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.signup-form {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signup-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}
.form-group {
    width: 100%;
    margin-bottom: 15px;
}
.form-group-center {
    display: flex;
    justify-content: center;
}
.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
.form-group button {
    width: 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #f4b400;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}
.form-group button:hover {
    background-color: #ffa500;
}
.errorlist {
    color: white;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
    list-style-type: none;
    padding: 0;
}
.errorlist li {
    color: #ffa500;
}
.row.g-3 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.col-md-6, .col-md-12 {
    flex: 1;
    margin-right: 10px;
}
.col-md-6:last-child {
    margin-right: 0;
}



</style>



<main>
    <section id="about-us">
        <h1>About Us</h1>
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'images/30.png' %}" class="d-block w-100" alt="ArtCraft Image">
                    <div class="carousel-caption d-none d-md-block">
                        <p>Welcome to ArtCraft, your gateway to a world of artistic wonders! Our platform is a vibrant marketplace where artists from diverse backgrounds showcase their talents and sell their creations to art enthusiasts worldwide. Join us on a journey of creativity and discovery!</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/27.png' %}" class="d-block w-100" alt="ArtCraft Image">
                    <div class="carousel-caption d-none d-md-block">
                        <p>Discover the beauty of handmade artistry on ArtCraft. From intricately designed jewelry to beautifully crafted pottery, our platform features a wide range of unique and exquisite art pieces that are sure to captivate your heart and soul.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/41.jpeg' %}" class="d-block w-100" alt="ArtCraft Image">
                    <div class="carousel-caption d-none d-md-block">
                        <p>At ArtCraft, we believe in empowering artists and promoting their work on a global scale. By providing a platform for artists to showcase their talents and connect with a larger audience, we aim to revolutionize the way art is marketed and appreciated.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/34.jpg' %}" class="d-block w-100" alt="ArtCraft Image">
                    <div class="carousel-caption d-none d-md-block">
                        <p>Join a community of artists and art lovers on ArtCraft. Engage in discussions, share your passion for art, and explore new artistic horizons. Whether you're an artist looking to promote your work or an art enthusiast seeking inspiration, ArtCraft is the place for you.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/31.png' %}" class="d-block w-100" alt="ArtCraft Image">
                    <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.6);">
                        <p>Experience the joy of owning a piece of art that is truly unique and one-of-a-kind. At ArtCraft, each artwork tells a story and reflects the passion and creativity of its creator. Browse our collection and find that perfect piece to adorn your space.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        
        <div class="card-container">
            <div class="card">
                <h2>Our Story</h2>
                <p>
                    Established in 2024, BigArtUg was conceived from a profound love for artistic expression and a commitment to championing the endeavors of independent artists. Our journey began with a keen observation of the art market, recognizing a significant void in platforms that cater comprehensively to the needs of artists.<span id="dots">...</span><span id="more"> This realization ignited our mission to create an inclusive and empowering space for artists to thrive.
            
                    At BigArtUg, we are dedicated to bridging the gap between artists and their audience by providing innovative marketing solutions tailored to their unique needs. Our platform is more than just a marketplace; it's a community where artists can showcase their creations, connect with enthusiasts, and gain the recognition they deserve.
                    
                    We understand the challenges artists face in marketing their products, which is why we have curated a range of tools and resources to support them every step of the way. From personalized marketing strategies to educational workshops, we are committed to empowering artists and helping them succeed in the competitive art market.
                    
                    Join us in our mission to revolutionize the way art is marketed and appreciated. Whether you're an artist looking to showcase your work or an art lover seeking inspiration, BigArtUg is your ultimate destination for all things art and craft.
                    
                </span></p>
                <button onclick="myFunction()" id="myBtn">Read more</button>
            </div>
        
                <div class="card">
                    <h2>Our Mission</h2>
                    <p>Our mission is to empower artists by providing them with the tools and resources they need to market their products effectively. We aim to create a vibrant community where art lovers can discover and purchase unique pieces directly from talented creators.</p>
                </div>
            </div>
        </div>
        <h2>Features and Services</h2>
        <div class="card-group">
            <div class="card">
              <img src="{% static 'images/46.jpeg' %}" class="card-img-top" alt="Marketplace">
              <div class="card-body">
                <h5 class="card-title">Marketplace</h5>
                <p class="card-text">Discover a world of creativity and craftsmanship at your fingertips with our vibrant marketplace! Step into a global bazaar brimming with a diverse array of art and craft products, each telling its own unique story.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src="{% static 'images/49.png' %}" class="card-img-top" alt="Promotional Tools">
              <div class="card-body">
                <h5 class="card-title">Promotional Tools</h5>
                <p class="card-text">Elevate your art with our innovative promotional tools. Reach a global audience through personalized campaigns, online galleries, and SEO-optimized profiles. Use targeted ads and analytics to grow your fanbase. Whether new or experienced, build a compelling brand and showcase your unique voice.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src="{% static 'images/53.jpg' %}" class="card-img-top" alt="Community Engagement">
              <div class="card-body">
                <h5 class="card-title">Community Engagement</h5>
                <p class="card-text">  Join a vibrant community where creativity thrives! Engage in forums, share techniques, and attend exclusive events. Whether showcasing your work or discovering new talent, our platform inspires and connects. Be part of a supportive environment celebrating artistic expression.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
             
            
        </div>
    </section>
    <h2>Meet the Team</h2>
        <p class="card2">Our team is composed of passionate individuals with backgrounds in art, technology, and marketing. Together, we strive to make ArtCraft the go-to platform for artists looking to market their work.</p>
        <div class="media">
            <img src="{% static 'images/54.jpg' %}" alt="Team Working">
            <video controls>
                <source src="{% static 'videos/work.mp4' %}" type="video/mp4" alt = "Amuku Godwin designing a wildlife sculpture">
                Your browser does not support the video tag.
            </video>
        </div>
        <h2>Contact Us</h2>
        <p>Have questions or need support? Reach out to us at <a href="mailto:support@artcraft.com">bigartug24@gmail.com</a>. Or</p>

        {% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert" style="margin-top: 5em; margin-bottom: 1em;">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<div class="signup-container" style="margin-top: 1em;">
    <div class="signup-form">
        <h2>Contact Us Here</h2>
        <form method="POST" action="https://formspree.io/f/mnnandza" style="width: 100%;">
            {% csrf_token %}
            <div class="row g-3">
                <div class="col-md-6">
                    <label for="{{ form.name.id_for_label }}" class="form-label">{{ form.name.label }}</label>
                    {{ form.name }}
                </div>
                <div class="col-md-6">
                    <label for="{{ form.email.id_for_label }}" class="form-label">{{ form.email.label }}</label>
                    {{ form.email }}
                </div>
            </div>
            <div class="row g-3">
                <div class="col-md-6">
                    <label for="{{ form.phone.id_for_label }}" class="form-label">{{ form.phone.label }}</label>
                    {{ form.phone }}
                </div>
                <div class="col-md-6">
                    <label for="{{ form.subject.id_for_label }}" class="form-label">{{ form.subject.label }}</label>
                    {{ form.subject }}
                </div>
            </div>
            <div class="row g-3">
                <div class="col-md-12">
                    <label for="{{ form.message.id_for_label }}" class="form-label">{{ form.message.label }}</label>
                    {{ form.message }}
                </div>
            </div>
            <div class="form-group d-flex justify-content-center mt-3">
                <button type="submit" class="btn btn-primary">Contact</button>
            </div>
            {% if error_message %}
            <div class="alert alert-danger mt-3" role="alert">
                {{ error_message }}
            </div>
            {% endif %}
        </form>
    </div>
</div>



{% comment %} <div class="signup-container" style="margin-top: 1em;">
    <div class="signup-form">
        <h2>Contact Us Here</h2>
        <form method="POST" action="https://formspree.io/f/mnnandza" style="width: 100%;">
            {% csrf_token %}
            <div class="row g-3">
                <div class="col-md-6">
                    <label for="{{ form.name.id_for_label }}" class="form-label">{{ form.name.label }}</label>
                    {{ form.name }}
                </div>
                <div class="col-md-6">
                    <label for="{{ form.email.id_for_label }}" class="form-label">{{ form.email.label }}</label>
                    {{ form.email }}
                </div>
            </div>
            <div class="row g-3">
                <div class="col-md-6">
                    <label for="{{ form.phone.id_for_label }}" class="form-label">{{ form.phone.label }}</label>
                    {{ form.phone }}
                </div>
                <div class="col-md-6">
                    <label for="{{ form.subject.id_for_label }}" class="form-label">{{ form.subject.label }}</label>
                    {{ form.subject }}
                </div>
            </div>
            <div class="row g-3">
                <div class="col-md-12">
                    <label for="{{ form.message.id_for_label }}" class="form-label">{{ form.message.label }}</label>
                    {{ form.message }}
                </div>
            </div>
            <div class="form-group form-group-center" style="padding-left: 210px; padding-right: 210px;">
                <button type="submit">Contact</button>
            </div>
            {% if error_message %}
            <div class="alert alert-danger" role="alert" style="margin-top: 15px;">
                {{ error_message }}
            </div>
            {% endif %}
        </form>
    </div> {% endcomment %}

</main> 





<script src="{% static 'js/carousel.js' %}"></script>

<script>$('.carousel').carousel();</script>
    <!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Include Slick Carousel -->
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<!-- Initialize Slick Carousel -->


<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<script>
    let slideIndex = 0;
    const slides = document.getElementsByClassName("content1");

    function showSlides() {
        for (let i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";  
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}    
        slides[slideIndex-1].style.display = "block";  
        setTimeout(showSlides, 2000); // Change image every 2 seconds
    }

    document.getElementById("prevBtn").addEventListener("click", () => {
        slideIndex--;
        if (slideIndex < 1) {slideIndex = slides.length}
        showSlides(slideIndex);
    });

    document.getElementById("nextBtn").addEventListener("click", () => {
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}
        showSlides(slideIndex);
    });

    showSlides();
</script>




{% endblock %}
