{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art & Craft</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/sign.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <link rel="stylesheet" href="{% static 'js/about.js' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap5/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>
<body>
    <nav>
        <div class="logo">
            <a href="#">BigArtUg</a>
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li class="dropdown">
                <a href="{% url 'index' %}" class="dropbtn">Categories</a>
                <div class="dropdown-content">
                    <a href="{% url 'painting' %}">Paintings</a>
                    <a href="{% url 'index' %}">Sculptures</a>
                    <a href="{% url 'index' %}">Ceramics</a>
                    <a href="{% url 'index' %}">Textiles</a>
                    <a href="{% url 'index' %}">Drawings</a>
                </div>
            </li>
            <li><a href="{% url 'shop' %}">Shop</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
            <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
            <li class="dropdown">
                <a href="{% url 'login' %}" class="dropbtn">Login</a>
                    <div class="dropdown-content">
                <a href="{% url 'logout' %}">Log Out</a>
            </div>
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li>
                <form class="search-form">
                    <input type="text" placeholder="Search...">
                    <button type="submit">Search</button>
                </form>
            </li>
        </ul>
    </nav>

    <div class="content-wrapper">
        {% block content %}
        {% endblock %}
    </div>

    <script src="{% static 'css/bootstrap5/js/bootstrap.bundle.js' %}"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    
    
    

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>Social Media Handles</h3>
                    <div class="social-media">
                        <a href="#" class="social-icon"><i class="fab fa-facebook-f">Facebook</i></a>
                        <a href="#" class="social-icon"><i class="fab fa-instagram">Instagram</i></a>
                        <a href="#" class="social-icon"><i class="fab fa-twitter">Twitter</i></a>
                        <a href="#" class="social-icon"><i class="fab fa-whatsapp">Whatsapp</i></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3>Contact Information</h3>
                    <div class="contact-info">
                        <p><i class="fas fa-phone"></i> Phone: +256 783469822 <br>+256 </p>
                        <p><i class="fas fa-envelope"></i> Email: bigartug@gmail.com</p>
                        <p><i class="fas fa-map-marker-alt"></i> Location: Aboke Twon Council, Kole, Uganda</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3>GPS Map</h3>
                    <div class="gps-map">
                            <div class="col-md-6">
                                <div class="card11">
                                  <iframe src="https://www.google.com/maps/place/Aboke+Town+Council,+17+Kamdini+-+Lira,+Lira/@2.2459072,32.3114091,14z/data=!3m1!4b1!4m6!3m5!1s0x177062f56aaaaaab:0x2d544b1d33f579d8!8m2!3d2.2458645!4d32.3320088!16s%2Fg%2F11vxm4760r?authuser=0&entry=ttu" width="250" height="150" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                                </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right">
            <p>&copy; 2024 BigArtUg. All Rights Reserved.</p>
        </div>
    </footer>


    
</body>
</html>
