{% extends "bigArt/base.html" %}
{% load static %}

{% block content %}
<style>
  body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f5f5f5;
  }
  main {
      padding: 50px 0;
  }
  #shopping-page {
      max-width: 1200px;
      margin: 0 auto;
      margin-top: 5em;
  }
  h1 {
      text-align: center;
      font-size: 3em;
      margin-bottom: 1em;
  }
  .product-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }
  .product-card {
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      padding: 20px;
      margin: 10px;
      width: calc(33% - 20px);
      text-align: center;
  }
  .product-card img {
      max-width: 100%;
      height: auto;
      border-radius: 5px;
  }
  .product-card h2 {
      font-size: 1.5em;
      margin: 10px 0;
  }
  .product-card p {
      font-size: 1.2em;
      color: #666;
  }
  .product-card button {
      background-color: #ff6600;
      color: #fff;
      border: none;
      padding: 10px 20px;
      font-size: 1em;
      cursor: pointer;
      border-radius: 5px;
  }
  .product-card button:hover {
      background-color: #ff5500;
  }
  .cart {
      position: absolute;
      top: 50px;
      right: 20px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 20px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      margin-top: 3em;
  }
  .cart h2 {
      font-size: 1.5em;
      margin-bottom: 20px;
  }
  .cart ul {
      list-style: none;
      padding: 0;
      margin: 0;
  }
  .cart li {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
  }
  .cart button {
      background-color: #fb8500;
      color: #fff;
      border: none;
      padding: 5px 10px;
      font-size: 0.8em;
      cursor: pointer;
      border-radius: 5px;
  }
  .cart button:hover {
      background-color: #f35b04;
  }
  .btn-custom {
    background-color: goldenrod;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
  }
  .btn-custom:hover {
      background-color: #ff5500;
  }
  .filter-search {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      background-color: #f5f5f5;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      margin: 20px;
  }
  .filter-search .search {
      display: flex;
      align-items: center;
      gap: 10px;
  }
  .filter-search form {
      display: flex;
      align-items: center;
      gap: 10px;
  }
  .filter-search input[type="text"],
  .filter-search input[type="submit"] {
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
      transition: all 0.3s ease;
  }
  .filter-search input[type="text"]:focus,
  .filter-search input[type="submit"]:hover {
      border-color: #fb8500;
  }
  .filter-search input[type="submit"] {
      background-color: #f4b400;
      color: #fff;
      cursor: pointer;
  }
  .filter-search input[type="submit"]:hover {
      background-color: #fb8500;
  }
  .search-input {
      flex-grow: 1;
  }

  .cart {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}
.cart h2 {
    margin-bottom: 20px;
    color: #f4b400;
}
.cart table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}
.cart th, .cart td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}
.cart th {
    background-color: #f4b400;
    color: #fff;
}
.cart tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
.cart p {
    font-size: 1.2em;
    font-weight: bold;
}
.cart button {
    background-color: #f4b400;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
}
.cart button a {
    color: #fff;
    text-decoration: none;
}
.cart button:hover {
    background-color: #fb8500;
}


@media (max-width: 1200px) {
    .product-card {
        width: calc(50% - 20px);
    }
}
@media (max-width: 768px) {
    .product-card {
        width: calc(100% - 20px);
    }
    .filter-search {
        flex-direction: column;
        gap: 20px;
    }
}
@media (max-width: 480px) {
    h1 {
        font-size: 2em;
    }
    .filter-search input[type="text"],
    .filter-search input[type="submit"] {
        font-size: 14px;
        padding: 8px;
    }
    .cart {
        padding: 10px;
    }
    .cart th, .cart td {
        padding: 5px;
    }
    .cart button {
        padding: 5px 10px;
        font-size: 0.8em;
    }
}
</style>

<main>
    
    <section id="shopping-page">
        <h1>Shop</h1>
        <div class="filter-search">
            <div class="search">
                <form action="" method="GET">
                    {{ product.form }}
                    <input type="submit" value="Search" class="btn btn-primary"/>
                </form>
            </div>
        </div>
        <div class="category-list">
            {% for category in categories %}
                <div class="category-item">
                    <a href="?category={{ category.id }}">{{ category }}</a>
                    </div>
            {% endfor %}
                 </div>
        <div class="product-grid">
            <div>Total Views: {{ total_views }}</div>
            <div>Unique Viewers: {{ unique_viewers }}</div>
            {% for product in products %}
            <div class="product-card">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.product_name }}">
                {% endif %}
                <h2>Name: {{ product.product_name }}</h2>
                <p>UGX {{ product.unit_price }}</p>
                <p>Artist: {{ product.artist }}</p>
                <p> {{ product.short_description }}</p>
                <p>Available: {{ product.quantity }}</p>
                <a href="{% url 'product_detail' product.id %}" class="btn btn-custom">View Details</a>
                {% if product.quantity > 0 %}
                    {% if user.is_authenticated %}
                        <button onclick="addToCart('{{ product.id }}', '{{ product.product_name }}', '{{ product.unit_price }}', {{ product.quantity }})" class="btn btn-custom">Add to Cart</button>
                    {% else %}
                        <button onclick="window.location.href='{% url 'login' %}'" class="btn btn-custom">Login to add to cart</button>
                    {% endif %}
                {% else %}
                    <button disabled class="btn btn-custom">Out of Stock</button>
                {% endif %}
            </div>
            {% endfor %}
            
        </div>
    </section>

    <div class="cart">
        <h2>Shopping Cart</h2>
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Unit Price</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="cart-data">
                {% for cart_item in cart %}
                <tr id="cart-item-{{ cart_item.product.id }}">
                    <td>{{ cart_item.product.product_name }}</td>
                    <td>UGX {{ cart_item.product.unit_price }}</td>
                    <td>{{ cart_item.quantity }}</td>
                    <td>UGX {{ cart_item.total_price }}</td>
                    <td>
                        <button onclick="removeFromCart('{{ cart_item.product.id }}')" class="btn btn-custom">Remove</button>
                        </td>
                        
                    {% comment %} </tr> {% endcomment %}
                    {% comment %} <td><button onclick="removeFromCart({{ cart_item.product.id }})" class="btn btn-danger">Remove</button></td> {% endcomment %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>Total: UGX <span id="total-price">{{ total_price }}</span></p>
        <button><a href="{% url 'checkout' %}">Checkout</a></button>
    </div>


    
</main>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        calculateTotal();
    });

    function calculateTotal() {
        let totalPrice = 0;
        {% for cart_item in cart %}
            totalPrice += {{ cart_item.total_price }};
        {% endfor %}
        document.getElementById('total-price').textContent =  totalPrice.toFixed(2);
    }
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function addToCart(productId, productName, productPrice, productQuantity) {
    const csrftoken = getCookie('csrftoken');
    fetch(`{% url 'add_to_cart' 0 %}`.replace(0, productId), {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken
        },
        body: JSON.stringify({
            product_id: productId
        })
    })
    .then(response => response.json())
    .then(data => {
        console.log(data)
        
        const cartData = document.getElementById('cart-data');
        const total =  document.getElementById('total-price')
        total.textContent = Number(parseFloat(total.innerHTML) + parseFloat(data.data.unit_price)).toFixed(2);
    

        const newRow = document.createElement('tr');
        const productNameCell = document.createElement('td');
        const unitPriceCell = document.createElement('td');
        const quantityCell = document.createElement('td');
        const totalPriceCell = document.createElement('td');

        productNameCell.textContent = `${data.data.name}`;
        unitPriceCell.textContent = `$ ${data.data.unit_price}`;
        quantityCell.textContent = `${data.data.quantity}`;
        totalPriceCell.textContent = `$ ${data.data.total_price}`;

        newRow.appendChild(productNameCell);
        newRow.appendChild(unitPriceCell);
        newRow.appendChild(quantityCell);
        newRow.appendChild(totalPriceCell);

        cartData.appendChild(newRow);

        if (data.status === 'success') {
            alert(data.message);
            renderCart();
        } else {
            alert(data.message);
        }
    });
}

function renderCart() {
    fetch("{% url 'view_cart' %}")
        .then(response => response.json())
        .then(data => {
            const cartItems = data.cart;
            const cartItemsContainer = document.getElementById('cart-items');
            cartItemsContainer.innerHTML = '';
            let totalPrice = 0;
            cartItems.forEach(item => {
                const cartItem = document.createElement('li');
                cartItem.textContent = `${item.product.product_name} - UGX${item.product.unit_price} x ${item.quantity}`;
                cartItemsContainer.appendChild(cartItem);
                totalPrice += item.product.unit_price * item.quantity;
            });
            document.getElementById('total-price').textContent = `Total: UGX${totalPrice.toFixed(2)}`;
        });
}

document.addEventListener('DOMContentLoaded', function() {
    renderCart();
});


{% comment %} function removeFromCart(productId) {
    const csrftoken = getCookie('csrftoken');
    fetch(`/remove_from_cart/${productId}/`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken
        },
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            document.getElementById(`cart-item-${productId}`).remove();
            updateTotalPrice();
            alert(data.message);
        } else {
            alert(data.message);
        }
    });
} {% endcomment %}

function updateTotalPrice() {
    let totalPrice = 0;
    document.querySelectorAll('#cart-data tr').forEach(row => {
        const subtotal = parseFloat(row.querySelector('td:nth-child(4)').textContent.replace('UGX', '').trim());
        totalPrice += subtotal;
    });
    document.getElementById('total-price').textContent = totalPrice.toFixed(2);
}

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function removeFromCart(productId) {
    const csrftoken = getCookie('csrftoken');
    fetch(`{% url 'remove_from_cart' 0 %}`.replace(0, productId), {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken
        },
        body: JSON.stringify({
            product_id: productId
        })
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            alert(data.message);
            renderCart();  // Refresh cart display
        } else {
            alert(data.message);
        }
    });
}


</script>

{{pages_obj }}
Has previous:{{pages_obj.has_previous}}
Has next:{{pages_obj.has_next}}
current:{{pages_obj.number}}
number of pages:{{pages_obj.paginator.num_pages}}
{% if pages_obj.has_previous %}
    <a href="?page=1">&laquo First </a>
    <a href="?page={{ pages_obj.previous_page_number }}">Previous</a>

{% endif %}
<br><br>
{% endblock %}







