body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 10px;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.signup-form {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 50px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.form-group button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #f4b400;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.form-group button:hover {
    background-color: #ffa500;
}

.errorlist {
    color: white;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
    list-style-type: none;
    padding: 0;
}

.errorlist li {
    color: #ffa500; /* White color for error messages */
}




/* body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 10px;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.signup-form {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 50px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 35px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.form-group button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #f4b400;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.form-group button:hover {
    background-color: #ffa500;
}

.errorlist {
    color: white;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
    list-style-type: none;
    padding: 0;
}

.errorlist li {
    color: #ffa500; /* White color for error messages */
/*} */